<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)" lang="en">
        <meta charset="UTF-8" />
        <title th:text="${title}">Otsikko</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/homepage.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/picturealbum.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/searchpage.css}" />
    </head>
    <body>
    </body>
</html>