
.container {    
    margin-bottom: 30px;
    padding-bottom: 50px;
}


.profile-section {
    display: flex;
    padding-left: 25%;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 20px;   
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #F8F8F8;
}

.profile-img {    
    max-height: 500px;
    width: auto;
    object-fit: cover;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.profile-text {
    align-self: center;
}

.wall {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFEAFE;
}

.side-bar { 
    margin-top: 0px;
    margin-right: auto;
}

.side-bar ul {
    padding: 0px;   
}

.side-bar li {
    list-style: none;
}

.message-container {    
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.button-show {
    width: 60%;
}

.time-left {
    float: left;
    color: #aaa;
}

.likes-right {
    float: right;
    color: #aaa;
}

.author-center {
    position: relative;
    right: 40px;
    color: #aaa;
}

.message-container:nth-child(even) {
    border-color: #ccc;
    background-color: #CFD2D7;
}

.message-container::after {
    content: "";
    clear: both;
    display: table;
}

.new-message-container {
    display: none;    
    margin-top: 10px;
    background-color: #FFE391;
    border-radius: 10px;
}

.new-message {
    margin: auto;
    padding: 20px;    
    width: 70%;    
}
.comments-section {
    margin-top: 20px;
}

.comment { 
    background-color: white;    
    width: 80%;
    margin: auto;   
    border: 2px solid #dedede;    
    border-radius: 5px;    
    text-align: center;
    margin-top: 15px;
}

.commentlink {   
    padding: 5px 10px;
    color: black;
    background-color: #FFEAFE;
    border: 1px solid #dedede;
    border-radius: 5px;
}

.new-comment-container {
    width: 60%;
    margin: auto; 
    margin-top: 15px;
    text-align: center;
}
.comment-form {
    display: inline-block;
    width: 100%;
}

