<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head(title='Picture Album')" lang="en" >
        <meta charset="UTF-8" lang="en"/>
        <title>Title</title>        
    </head>

    <body onload="init()">
        <div th:replace="fragments/header :: header"></div>
        <div class="profile-section">
            <div class="profile-picture" th:if="${profilePicture != null}">
                <img class="profile-img" th:src="@{/pictures/{id}/content(id=${profilePicture})} "
                     alt="profile image"/>
            </div>
            <div class="profile-text">
                <h1 th:text="${profilename}">profilename</h1>
                <h3 th:text="${name}" >name</h3>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 side-bar">
                    <h3>Friends</h3>
                    <ul th:each="friend : ${friendlist}">
                        <li>
                            <a th:href="@{/MyFriendbook/{profilename}/friend/{id}(profilename=${profilename}, id=${friend.id})}">
                                <span th:text="${friend.name}"><strong>name</strong></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 wall-container">
                    <div class="wall">
                        <h2>The Wall</h2>
                        <h3 th:if="${ownPage}"><a th:href="@{/MyFriendbook/{currentUserProfilename}/(currentUserProfilename=${currentUserProfilename})}">
                                Messages </a>
                            / Picture album
                        </h3>
                        <h3 th:unless="${ownPage}"><a th:href="@{/MyFriendbook/{currentUserProfilename}/friend/{id}(currentUserProfilename=${currentUserProfilename}, id=${friendId})}">
                                Messages </a>
                            / Picture album
                        </h3>
                        <button class="btn btn-outline-success picture-show" th:if="${ownPage}" onclick="handleShowNewPicture()">
                            Add new Picture
                        </button>
                        <div class="new-message-container" th:if="${ownPage}"> 
                            <h5>Add new picture</h5>
                            <form method="POST" th:object="${pictureForm}" 
                                  th:action="@{/MyFriendbook/{currentUserProfilename}/pictures(currentUserProfilename=${currentUserProfilename})}" enctype="multipart/form-data">                        
                                <input th:field="*{file}" type="file" name="file" id="file" lang="en"/>
                                <label>Description: </label>
                                <input th:field="*{description}"type="text" name="description" />            
                                <input type="submit" value="Add picture"/>
                            </form>
                        </div>
                        <div th:if="${pictureMessages != null}">
                            <div class="picture-container" th:each="picture : ${pictureMessages}">

                                <div class="image-container" >
                                    <img th:src="@{/pictures/{id}/content(id=${picture.id})}" th:alt="${picture.name}"/>
                                    <div class="picture-description">
                                        <p th:text="${picture.description}" >description</p>    
                                    </div>
                                </div>
                                <div class="picture-text">                                                       
                                    <span class="time-left" th:text="${#temporals.format(picture.timeAdded, 'dd-MM-yyyy HH:mm')}"> time</span>
                                    <span class="likes-right"> Likes: <span th:text="${picture.thumpups}">likes</span></span>
                                    <div >
                                        <form class="picture-button" method="POST" th:if="${ownPage}" th:action="@{/pictures/delete/{id} (id=${picture.id})}">
                                            <button style="margin-bottom: 5px;" class="btn-sm" type="submit">delete</button>
                                        </form>
                                        <form class="picture-button" method="POST" th:if="${ownPage}" th:action="@{/pictures/profileimg/{id} (id=${picture.id})}">
                                            <button class="btn-sm" type="submit">set as profile</button>
                                        </form>
                                        <form class="picture-button" method="POST" 
                                              th:action="@{/{currentUserProfilename}/{friendId}/thumpup/picture/{id}(currentUserProfilename=${currentUserProfilename}, friendId=${friendId}, id=${picture.id})}">
                                            <button class="btn-sm" type="submit" th:disabled="${!picture.likeable}">Thump up</button>
                                        </form>
                                    </div>
                                    <div class="show-button-wrapper" th:if="${!#lists.isEmpty(picture.comments)}">
                                        <button class="btn btn-outline-success show-button" th:if="${!#lists.isEmpty(picture.comments)}" onclick="toggle(this.id)">show comments</button>
                                    </div>
                                    <div th:if="${!#lists.isEmpty(picture.comments)}" class="comment-display">
                                        <div class="comment" th:each="comment : ${picture.comments}">
                                            <p th:text="${comment.content}">content</p>
                                            <span class="time-left" th:text="${#temporals.format(comment.timeAdded, 'dd-MM-yyyy HH:mm')}"> time</span>
                                            <span class="author-center">By <span th:text="${comment.author.profilename}">author</span></span>
                                        </div>
                                    </div>

                                    <div class="new-comment-container">
                                        <form class="form-inline comment-form picturenewcomment" th:action="@{/MyFriendbook/{profilename}/picture/{id}/comment 
                                              (id=${picture.getId()}, profilename=${profilename})}"
                                              th:object="${commentForm}" method="POST">                                                                               
                                            <input class="form-control" th:field="*{content}" placeholder="new comment"/>
                                            <p th:if="${#fields.hasErrors('content')}" 
                                               th:error="*{comment}">message error</p>                                       
                                            <button style="margin-left: 10px;" type="submit" class="btn btn-outline-success">submit</button>
                                        </form>
                                    </div>                                 
                                </div>
                                <!--
                                      
                                 
                                  <div class="likes-section">
                                      <span> Likes: <span th:text="${#lists.size(blog.givenLikes)}"</span></span>
                                <!--<button  class="like-button">Like</button><-->

                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/header :: footer"></div>
        <script th:src="@{/js/pictureScript.js}" defer></script>
    </body>
</html>
